/* adjust display of header */
body{
    font-size: 16px;
    font-family: helvetica;
}
h1{
    font-size: 3em;

}

h2{
    font-size: 2em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
}

p{
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
}
.eventsheader h3{
    font-weight: bold;
}
header {
    background: #5d5d5d;

}

header nav ul li {
    display: inline;
    margin-left: 0.3em;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 0.8em;
}
header nav ul li a:hover{
    background: darkgray;
    color: white;
}
.currentpage a{
    text-decoration: underline;
}

header .inner{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 4em;
    align-items: center;
}
.inner {
    width: 75%;
    margin: 0 auto;
}

.overview{
    background: red;
    width: 70%;
    margin: 1em 15%;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
}

.hero{
    background: #f4f4f4;
    min-height: 200px;
}

/* CSS grid  */

.eventsgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

.eventsgallery div{
    display: flex;
    background: red;
    min-height: 5em;
    justify-content: center;
    align-items: center;
}
.gallery h3{
    text-align: center;

}

.who {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5em;;
    margin-bottom:2em;
}
.who div {
    display: flex;
    /* background: red; */
    min-height: 5em;
    justify-content: center;
    padding: 1em;

}
.who h3{
    min-height: 10em;
}
.who div.photo {
    background-size: cover;
    min-height: 10em;
}
.edwina {
    background-image: url(../images/callam.jpg);
}
.amy {
    background-image: url(../images/callam.jpg);
}
.rachel {
    background-image: url(../images/callam.jpg);
}

.patron{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:0.5em;;
    margin-bottom:2em;
    margin-top:1em;
}
.patron div{
    /* display: flex; */
    background: red;
    min-height: 5em;
    padding: 1em;
}

footer {
    background: #5d5d5d;

}

.footercontents{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.upcomingevents{
    text-align: right;
    padding-right: 1em;
}
.pastevents{
    text-align: left;
    padding-left: 1em;
}
.eventsheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.currenteventsheader a:link {
    padding: 1em;
    text-decoration: none;
    color: black;
}
.currenteventsheader a:visited{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.othereventsheader a:link {
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:visited{
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:hover {
    text-decoration: none;
    padding: 1em;
    color: black;
}


.eventsboxes{
    display: grid;
    gap: 1em;
}

.eventinfobox1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 5em;
    gap: 1em;
    padding-top: 2em;

}
.eventinfobox1 img{
    max-width: 100%;
}

.booknowbutton{
    color: black;
    text-decoration: none;
    padding-top: 1em;
    max-width: 10em;
    max-height: 5em;
    text-align: center;
    justify-content: Center;
    background-color: teal;
}
.button {
    color: black;
    text-decoration: none;
    padding: 1em;

    text-align: center;
    background-color: teal;
    border-radius: 100px;
}
.button:hover {
    background: red;
    color: #ffffff;
}


.gallery {
    display: grid;
    /* try using different units here... */
    /* if 4 values = 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    column-gap:.5em;
    row-gap: 1em;
    margin: 2em 0;
}
.gallery a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
/* make the boxes look nice */
.gallery div {
    background-color: #a88f8f;
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* set a background image on one of the boxes */
.gallery .library {
    background-image: url(../images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .callam {
    background-image: url(../images/callam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
}
.gallery .universityhouse {
    background-image: url(../images/university-house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .churchill {
    background-image: url(../images/churchill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .urambi {
    background-image: url(../images/urambi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .giralang {
    background-image: url(../images/giralang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}



.gallery h3 {
    color: #000000;
    text-align: center;
    /* hide the text */
    display: none;
}
.gallery div:hover {
    /* add a grayscale flter */
    /* filter:grayscale(0.8); */
    /* opacity: 50%; */
}
/* trying to make the image opacity 50% but not the text??? */
.gallery div:hover h3 {
    /* make the text visible again on hovers */
    display: block;
    /* opacity: 200%; */
}

#resourcestitle{
    padding-top: 2em;
}


/* media queries    
This defines how the site changes when the screen size is changed */

@media screen and (max-width: 48em) {
    .gallery{
        grid-template-columns: 100%;
    }
}